@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap");
html, body {
  font-size: 16px;
}

body {
  font-family: "Josefin Sans", Tahoma, sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(135deg, white 0%, #fff5f5 100%);
}

.header {
  width: 100%;
  height: 5.2em;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.logo {
  width: 28%;
  max-width: 8rem;
  display: block;
  margin-left: 2em;
}

.photo {
  width: 100%;
  margin: 0;
}
.photo__img {
  display: block;
  width: 100%;
}

.main {
  width: 80%;
  margin: 3.5em auto;
}

.title {
  display: flex;
  flex-direction: column;
  color: #413a3a;
  letter-spacing: 10px;
  line-height: 1;
  font-size: 2.6em;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 1rem;
}
.title__emphasis {
  color: #ce9797;
  font-style: normal;
  font-weight: 300;
}

.description {
  color: #ce9797;
  line-height: 1.5;
  font-size: 0.875em;
  font-weight: 400;
  text-align: center;
}

.form {
  width: 100%;
  height: 5em;
  position: relative;
  margin: 2em 0;
}

.email {
  display: inline-block;
  width: 100%;
  height: 3rem;
  padding-left: 1.5rem;
  box-sizing: border-box;
  border: 1px solid #ce9797;
  border-radius: 25px;
  color: #ce9797;
  font-family: inherit;
  font-size: 0.875rem;
  font-weight: 400;
  outline: none;
  background-color: transparent;
}
.email--error {
  border: 2px solid #f96262;
  color: #000;
}

.button {
  width: 4rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
  top: 0;
  border: none;
  border-radius: 25px;
  background: linear-gradient(135deg, #f8bfbf 0%, #ee8c8c 100%);
  box-shadow: 1px 8px 18px #ce9797;
  cursor: pointer;
}
.button--error::before {
  content: url(./images/icon-error.svg);
  position: absolute;
  top: calc(50% - 0.65rem);
  left: -2rem;
}

.error {
  display: none;
  margin-left: 1.5rem;
  color: #f96262;
  font-size: 0.812rem;
}
.error--active {
  display: block;
}

.attribution {
  color: #ce9797;
  font-size: 0.687rem;
  text-align: center;
  padding-bottom: 1em;
}
.attribution a {
  color: #3e52a3;
}

@media only screen and (min-width: 768px) {
  html, body {
    font-size: 18px;
  }

  .photo__img {
    max-width: 35rem;
    margin: auto;
  }
}
@media only screen and (min-width: 1000px) {
  .grid {
    background: url(./images/bg-pattern-desktop.svg) no-repeat bottom left;
    background-size: 65%;
    display: grid;
    grid-template-areas: "logo   photo" "main   photo" "footer photo";
  }

  .header, .main {
    width: 60%;
  }

  .header {
    grid-area: logo;
    margin: auto;
    align-items: flex-end;
  }

  .logo {
    margin: 0;
  }

  .photo {
    grid-area: photo;
    align-self: center;
    overflow: hidden;
    height: 100%;
  }
  .photo__img {
    width: auto;
    height: 100%;
    margin: auto;
  }

  .main {
    grid-area: main;
  }

  .title {
    max-width: 50%;
    letter-spacing: 0.9rem;
    line-height: 1.1;
    font-size: 4rem;
  }

  .title, .description {
    text-align: left;
  }

  .description, .form {
    max-width: 90%;
  }

  .description {
    font-size: 1em;
  }

  .button {
    width: 5rem;
  }
  .button:hover {
    opacity: 0.7;
  }

  .footer {
    grid-area: footer;
  }
}

/*# sourceMappingURL=style.css.map */
